@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html * {
margin: 0%;
border: 0%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
    padding: 0.8em;
    display: grid;
    place-items: center;
    background-image: url('../img/bg-header.png');
    background-size: 30px;
    background-color: rgb(99, 88, 88);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em
}


  body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgba(221, 221, 221, 0.644);
    background-image: url("../img/bg-body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    
    
}
main {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    flex-direction:row;
    justify-content:space-evenly;

}

.complexo {
    order: 1;
    width: 500px;
    height: 550px;
    background-image: url('../img/complex.png');
    background-repeat: no-repeat;
    background-size: cover;
    align-self: flex-start;
    
        
    
}

.apresentacao{
    order:2;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 500px;
    height: fit-content;
    border-radius: 10%;
    padding: 20px 40px 20px;
    line-height: 2em;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.548);
    text-align:justifygi;
    font-size: 1vw;
}

#fotomarco {
    border: 8px ridge rgba(54, 52, 175, 0.877);
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.938);
    max-width:180px;
    max-height:180px;
    left: 500px;
    width: auto;
    height: auto;
    margin: 0px 0px 30px;
}


#h1 {
    line-height: 40px;
}


#marco {
    border: 8px ridge rgba(54, 52, 175, 0.877);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.938);
    max-width:140px;
    max-height:140px;
    width: auto;
    height: auto;
    position: relative;
    left: 176px;
    top: 0px;
}

#research {
    border: 8px ridge rgba(54, 52, 175, 0.877);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.938);
    max-width:140px;
    max-height:140px;
    width: auto;
    height: auto;
    position: relative;
    left: 144px;
    top: 138px;
}

#publications {
    border: 8px ridge rgba(54, 52, 175, 0.877);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.938);
    max-width:140px;
    max-height:140px;
    width: auto;
    height: auto;
    position: relative;
    left: -258px;
    top: 315px;
}

#gallery {
    border: 8px ridge rgba(54, 52, 175, 0.877);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.938);
    max-width:140px;
    max-height:140px;
    width: auto;
    height: auto;
    position: relative;
    left: 0px;
    top: 33px;
}
#people {
    border: 8px ridge rgba(54, 52, 175, 0.877);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.938);
    max-width:140px;
    max-height:140px;
    width: auto;
    height: auto;
    position: relative;
    left: 30px;
    top: 280px;
}
#lab {
    border: 8px ridge rgba(54, 52, 175, 0.877);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.938);
    max-width:140px;
    max-height:140px;
    width: auto;
    height: auto;
    position: relative;
    left: 81px;
    top: 126px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    background-color: rgba(255, 255, 255, 0.651);
  }